{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Home Page</h1>
    <form>
      <div class="input-group">
        <span class="input-group-text">Distance</span>
        <input type="text" class="form-control" placeholder="100m" name="meters">
      </div>
    
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Time" name="secounds">
        <span class="input-group-text">example: 11.2s</span>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
{% endblock %}
