{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Track time over diffrent distance calcualtor</h1>
    <form action = "/response">
      <div class="input-group">
        <span class="input-group-text">Distance</span>
        <input type="text" class="form-control" placeholder="Distance" name="meters">
      </div>
    
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Time" name="secounds">
        <span class="input-group-text">example: 11.2</span>
      </div>
	<h4>Mesured in secounds you do not need to put s in.</h4>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
	<br>
	<div id = "padding-boder">
	<p>This is your time you would get but if you were running double the distance!: {{New_Time}}</p>
	</div>
{% endblock %}
